* {
  box-sizing: border-box;
}
.date-picker {
  min-height: 34px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
  font-size: 14px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--chakra-colors-border);
}

.date-picker-popper.react-datepicker-popper {
  z-index: 10000;
}

.react-datepicker-wrapper:focus-visible {
  outline: none;
}
.react-datepicker__input-container input:focus {
  outline: none;
}
